
.main-container{
    position: relative;
    background-image: linear-gradient(to right,#96E9FB,#ABECD6);
    width:90vw;
    height: 450px;
    margin: 10px 60px;
    border-radius: 20px;
   
}

.main-container-txt{
    display: flex;
    flex-direction:column;
    justify-content: start;
    width: 500px;
    height: 316px;
    position: absolute;
    left:100px;
    top:80px;
    gap:30px;
}
.main-container-txt h1{
   font-size:45px;
   font-family:'Montserrat';
    font-weight: 700px;
    line-height: 80px ;
    color: #252B42;
}

.main-container-txt button{
    border: none;
    height: 50px;
    width:220px;
    color: white;
    background-color: #23A6F0;
    font-size:24px;
    font-family:'Montserrat';
     font-weight: 700;
     line-height: 32px ;
     
     
}

.main-t{
    color:#2A7CC7;
    font-family:'Montserrat';
    font-weight: 700px;
    line-height: 24px ;
    font-size: 16px;
}
.main-para {
    color:#737373;
    font-family:'Montserrat';
    font-weight: 200px;
    line-height: 30px ;
    font-size: 20px;
    letter-spacing: 0.2px;

}
.main-img{
    position: absolute;
    left:600px; 
    
}

.first-circle-white{
    position: absolute;
    top:-12px;
    left:12vw;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: white;
}
.second-circle-white{
    position: absolute;
    right: -120px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
}

.main-img img{
    position: absolute;
    top:5px;
    left: 3vw;
    width: 500px;
}
.third-white-circle{
    position: absolute;
    left: 485px;
    top:180px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color:white;

}
.first-cirlce-purple{
    position: absolute;
    top:290px;
    left: 8.5vw;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #977DF4;
}

.second-white-circle{
    position: absolute;
    left: 41.5vw;
    top:80px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #977DF4;
}


.brands{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6vw;
}

.brands img{
    width: 100px;
}

.cards{
    /* position: relative; */
    left:4vw;
}

.shop-card{
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap:1vw;

}

.card-img-size1{
    width: 500px;
}
.card-img-size2{
    width: 465px;
}

/* .first-card-cont{
    position: relative;
}


.first-card{
    position: absolute;
    bottom: 39px;
    left:0;
     
}
.second-card-cont{
    position: relative;
}
.second-card{
    position: absolute;
    bottom: 39px;
    left:0;
     
} */



/* from here */
/* .first-card-cont,
.second-card-cont {
  position: relative;
}

.first-card,
.second-card,
.third-card {
  position: absolute;
  bottom: 40px;
  left: 0;

}

.second-card {
    position: absolute;
  
  bottom: 270px; 
  left: 0px;
}
.third-card {
    position: absolute;

  bottom: 6px;
  left: 0px; 
}

.shop-card3{
    position: relative;
} */

.first-card-cont{
    position: relative;
}
.second-card-container{
    position: relative;
}

.second-card-cont {
    position: relative;
  }
  
  .first-card,
  .second-card,
  .third-card {
    position: absolute;
    bottom: 40px;
    left: 0;
  
  }


@media (max-width:1000px) {
    
    .main-img img{
        position: absolute;
        top:5px;
        left: -14vw;
        width: 500px;
    }
    .circle{
        display: none;
    }
    .brands{
        
        gap: 5vw;
    }
    .brands img{
        width: 10vw;
    }
    
    
}
@media (max-width:880px) {
    .main-img{
        display: none;
    }
    .main-container-txt{
        margin-left: 7vw;
        max-width: fit-content;

    }
    .main-container-txt .txt{
        /* padding-left: 100px; */
        text-align: center;

    }
    .shop-btn{
        margin-left: 14vw;
    }
    .main-container{
        margin-left: 5vw;
    }
    .main-container-txt{

        margin-left: 10vw;
        max-width: fit-content;

    }
    .brands img{
        width: 10vw;
    }
}

@media (max-width:670px) {

    .main-container{
        height: 904px;
    }
    .main-container-txt{
        margin-left: -4vw;
        max-width: fit-content;

    }
    .main-container-txt h1{
        line-height: 50px;
    }
    .main-container-txt h4{
        font-size: 18px;
    }
    .main-container-txt .txt{
        margin-left: -1vw;
        text-align: start;

    }
    .shop-btn{
        margin-left: 0px;
    }
    .main-img{
        display: block;
    }
    .first-circle-white{
       
    }
    
    .circle{
        top:450px;
        position: absolute;
        display:block;
        
        
    }
    .second-circle-white {
        width: 60px;
        height: 60px;
        position: absolute;
        top:400px;
        left: -1px;
    }
    .third-white-circle{
        position: absolute;
        top:630px;
        left:450px;
        background-color: white;
        
    }
    .first-cirlce-purple{
        position: absolute;
       top:740px;
       
       
        
    }
    .main-img{
        display: contents;

        
    }
    .main-img img{
        
        position: absolute;
        display: block;
        top:460px;
        left:0px;
        /* position: absolute; */
    }

    .second-white-circle{
        position: absolute;
       top:510px;
        left: 440px; 
    }
}

@media (max-width:500px) {
    .brands {
        margin-top: 350px;
        flex-direction: column;
        align-items: center;
        gap:50px;
    }
    .brands img{
        width: 120px;
    }
}


@media (max-width:570px){
    /* .main-container{
        margin-left: 1vw;
    }
    .main-container-txt{
        margin-left: 4vw;
        max-width: fit-content;

    } */
    
    .first-circle-white{
       
    }
    
    .circle{
        top:450px;
        position: absolute;
        display:block;
        
        
    }
    .second-circle-white {
        width: 60px;
        height: 60px;
        position: absolute;
        top:400px;
        left: -1px;
    }
    .third-white-circle{
        position: absolute;
        top:630px;
        left:450px;
        background-color: white;
        
    }
    .first-cirlce-purple{
        position: absolute;
       top:740px;
       
       
        
    }
    .main-img{
        display: contents;

        
    }
    .main-img img{
        
        position: absolute;
        display: block;
        top:460px;
        left:0px;
        /* position: absolute; */
    }

    .second-white-circle{
        
      
        position: absolute;
       top:510px;
        left: 440px; 
    }
}

@media (max-width:480px) {
    .main-container-txt{
       margin-right: 20px;

    }
    .main-img{
        position: absolute;
        display: contents;
    }
    .circle{
        display:block;
    }


    .second-circle-white{
        
        display: contents;
        position: absolute;
        margin-right: 100px;
    }
        
    .second-white-circle{
        background-color: #23A6F0;
        display: contents;
        position: absolute;
        left: 20px;
    }
   
        
}